@{
    ViewData["Title"] = "Kayıt ol - Hülya Hasçelik Beauty Center";
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/randevu_style.css" />
</head>
<body>
    <header>
        <h1>Randevu Al</h1>
    </header>

    <form method="post" action="/Hesap/Randevu">
        <div>
        <div>
            <label for="Isim">Hizmet Seçin:</label>
            <select name="Isim" id="Isim" required>
                <option value="">Hizmet Seçiniz</option>
                @foreach (var Hizmet in ViewBag.Hizmet)
                {
                    <option value="@Hizmet.Isim">@Hizmet.Isim-@Hizmet.Ucret</option>
                }
            </select>
        </div>

            <label for="Calisan">Çalışan Seçin:</label>
            <select name="CalisanId" id="Calisan" required>
                <option value="">Çalışan Seçiniz</option>
                @foreach (var Calisan in ViewBag.Calisan)
                {
                    <option value="@Calisan.Id">@Calisan.Isim</option>
                }
            </select>
        </div>

        <div>
            <label for="RandevuTarihi">Tarih:</label>
            <input type="date" id="Tarih" name="RandevuTarihi" required />
        </div>
        <div>
            <label for="BaslangicSaati">Saat:</label>
            <input type="time" id="Saat" name="BaslangicSaati" required />
        </div>

        <button type="submit">Randevu Al</button>
    </form>
</body>
</html>